/* Navbar */
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}



/* Hero Section */
.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh; 
    width: 100%; 
    margin: 0; 
    padding: 0 10%; 
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    z-index: 1;
    width: 60%; 
}

.hero-title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-description {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 82px;
    color: #fff;
}

.hero-img {
    width: 23%;
    margin-right: 10%;
    margin-bottom: 12%;
    z-index: 1;
    border-radius: 50%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
.hero-contactBtn {
    text-decoration: none;
    background-color:  #6F2DBD;
    color: #fff ;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    margin-bottom: 10%;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.25);
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}


.hero-topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128;
    left: 10vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.hero-bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width: 830px) {
    .hero-container {
        flex-direction: column-reverse;
    }
    
    .hero-content {
        align-items: center;
        width: 100%; 
    }

    .hero-img {
        width: 60%; 
        margin-top: 20px;
        margin-left: 0; 
    }
}